<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}It`s about{% endblock %}
    </title>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}It`s about{% endblock %}
</body>
</html>